.fd-toolbar {
  border: solid 1px #dddddd;
  width: 100%;
  background: #fff;
}
.fd-node-toolbar {
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  width: 100%;
  background: #fff;
}
.fd-workspace {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
}
.fd-canvas-container {
  border: solid 1px #eee;
  background-color: #ffffff;
}
.fd-property-panel {
  width: 400px;
  border: solid 1px #999;
  border-radius: 5px;
  top: 100px;
  left: calc(100vw - 410px);
  position: fixed;
  background: #ffffff;
  box-shadow: 5px 5px 5px #888888;
}
.fd-horizontalLine,
.fd-verticalLine {
  position: absolute;
  display: none;
  border-color: #636e72;
}

.fd-horizontalLine {
  border-bottom-style: dashed;
  width: 100%;
  border-bottom-width: 2px;
}

.fd-verticalLine {
  border-left-style: dashed;
  width: 100%;
  border-left-width: 2px;
}

.snaptogrid {
  background-image: url('grid-bg.png');
}
.nosnaptogrid {
  background-image: none;
}
