@font-face {
  font-family: 'flow';
  src: url('iconfont.eot');
  src: url('iconfont.eot') format('embedded-opentype'), url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'), url('iconfont.svg') format('svg');
}

.flow {
  font-family: 'flow' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.flow-end:before {
  content: '\e601';
}
.flow-start:before {
  content: '\e602';
}
.flow-man:before {
  content: '\e600';
}
